/* Everydaymoney payment method icon styling */
.wc-block-components-payment-method-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.wc-block-components-payment-method-label__text {
    flex-grow: 1;
}

.wc-block-components-payment-method-label__icon {
    max-height: 24px;
    max-width: 60px;
    margin-left: 10px;
}